#hierarchy
{
    font-family: FontAwesome;
    width: 300px;
    margin-top: 50px;
}
a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
}
.foldercontainer, .file, .noitems
{
    display: block;
    padding: 5px 5px 5px 50px;
}
.folder
{
    color: grey;
}
.file
{
    display: flex;
    color: grey;
}
.folder, .file
{
    cursor: pointer;
}
.noitems
{
    display: none;
    pointer-events: none;
}
.folder:hover,.file:hover
{
    color: black;
}
.folder:before, .file:before
{
    padding-right: 10px;
}

.mediacon{
    display:flex;
    max-height: 40px;
    width: auto;
    margin-right: 5px;
}
.fol-o{
    width: 40px;
    height: auto;
}
.fol-o::before{
    background-image: url('media/icons/folder-icon-o.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px; 
    height: 40px;
    content:"";
}
.fol-c{
    width: 40px;
    height: auto;
}
.fol-c::before{
    background-image: url('media/icons/folder-icon.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px; 
    height: 40px;
    content:"";
}